.sec-padding-bot-0 {
  padding-bottom: 0;
}
.peculiarities-item {
  display: block;
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .peculiarities-item {
    flex-basis: calc(50% - 30px);
  }
}

@media screen and (min-width: 768px) {
  .peculiarities-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .peculiarities-list {
    display: flex;
    flex-wrap: nowrap;
  }
}
.peculiarities-block {
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  background-color: var(--background-color-team);
}

@media screen and (min-width: 1200px) {
  .peculiarities-item + .peculiarities-item {
    padding-left: 30px;
  }
}
.peculiarities-title {
  font-weight: 700;
  font-size: 14px;
  text-align: center;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}
@media screen and (min-width: 768px) {
  .peculiarities-title {
    text-align: start;
  }
}
.peculiarities-description {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}
